[branches]
base = "main"
release = "release"

[tags]
chore = "Chores"
feat = "New Features"
fix = "Bug Fixes"
perf = "Performance Improvements"
refactor = "Refactors"

[packages."@dropout/ui"]
path = "packages/ui"
resolver = "nodejs"
version-mode = { pre-release.tag = "alpha" }

[packages.dropout]
path = "src-tauri"
resolver = "rust"
version-mode = { pre-release.tag = "alpha" }
assets = ["artifacts/**/*"]

[packages.dropout-macros]
path = "crates/macros"
resolver = "rust"
version-mode = { pre-release.tag = "alpha" }

[resolver.rust.pre-check]
url = "https://crates.io/api/v1/crates/{{ package.name }}/{{ package.version }}"

[resolver.rust.pre-check.extra-headers]
User-Agent = "Semifold 0.2.10"

[[resolver.rust.publish]]
command = "pnpm"
args = ["tsx", "scripts/release-aur.ts"]

[[resolver.rust.post-version]]
command = "pnpm"
args = ["bump-tauri"]

[resolver.nodejs.pre-check]
url = "https://registry.npmjs.org/{{ package.name }}/{{ package.version }}"

[[resolver.nodejs.publish]]
command = "npm"
args = [
  "publish",
  "--provenance",
  "--access",
  "public",
]
